* text=auto eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.gif binary
*.woff binary
*.woff2 binary
*.ttf binary
*.zip binary
*.7z binary
*.gz binary
*.exe binary
*.dll binary
*.dmg binary
*.AppImage binary
*.asar binary
*.stl binary
